@charset "UTF-8";
/* 반응형 화면 크기 */
@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#root {
  width: 100vw;
  height: auto;
  background-color: #ed775d;
  display: flex;
  justify-content: flex-end;
  color: #112b3c;
}

h1 {
  font-family: "GmarketSansBold";
  font-size: 32px;
  font-style: italic;
}

h2 {
  font-style: italic;
  font-family: "GmarketSansBold";
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #112b3c;
}

a:hover {
  color: #205375;
}

.lp-player {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lp-player > img:nth-child(1) {
  padding-top: 200px;
  width: 600px;
  z-index: 1;
}
.lp-player > img:nth-child(2) {
  width: 420px;
  position: relative;
  bottom: 475px;
  right: 62px;
  transform-origin: 50% 50%;
}
.lp-player > div {
  position: relative;
  top: -200px;
  display: flex;
  align-items: center;
}
.lp-player > div > img {
  margin: 5px;
  cursor: pointer;
}

.play {
  -webkit-animation: rotate_image 1s linear infinite;
          animation: rotate_image 1s linear infinite;
}

@-webkit-keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
.sub-Mainbox {
  padding-bottom: 30px;
}
.sub-Mainbox > img:nth-child(1) {
  width: 200px;
  margin-right: 10px;
}
.sub-Mainbox > img:nth-child(2),
.sub-Mainbox img:nth-child(3) {
  cursor: pointer;
  margin-left: 5px;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: "GmarketSansMedium";
}

section {
  width: 100%;
  height: 100vh;
  padding: 50px;
}

#Main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
}
#Main ul {
  padding-top: 10px;
  padding-left: 50px;
  font-family: "GmarketSansBold";
  font-size: 24px;
  list-style-type: none;
}
#Main ul > li {
  cursor: pointer;
}
#Main > div:nth-child(3) img:hover {
  cursor: pointer;
}

#Skils > div:nth-child(3) {
  margin-top: 30px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#Skils > div:nth-child(3) img {
  width: 110px;
  margin: 10px;
}
#Skils > p {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.project > div:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project > div:nth-child(1) > img {
  width: 18px;
  height: 29px;
  margin: 5px;
  cursor: pointer;
}
.project > div:nth-child(1) > div:nth-child(2) {
  width: 100%;
  border: 1px solid #112b3c;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project > div:nth-child(1) > div:nth-child(2) > img {
  width: auto;
  height: 300px;
}
.project > div:nth-child(1) > div:nth-child(2) > p {
  width: inherit;
  text-align: center;
  background-color: #112b3c;
  color: #ffffff;
}
.project > div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}
.project > div:nth-child(2) img {
  margin: 5px 0 0 7px;
  cursor: pointer;
}
.project > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.project > div:nth-child(3) > p {
  font-size: 14px;
}

@media (min-width: 1024px) {
  .lp-player {
    width: 50%;
    position: fixed;
    left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #root {
    flex-direction: column;
  }
  .lp-player {
    width: 100%;
  }
  .content {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #root {
    flex-direction: column;
  }
  .lp-player {
    width: 100%;
  }
  .content {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */