@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: auto;
  background-color: #ed775d;
  display: flex;
  justify-content: flex-end;
  color: #112b3c;
}

h1 {
  font-family: "GmarketSansBold";
  font-size: 32px;
  font-style: italic;
}

h2 {
  font-style: italic;
  font-family: "GmarketSansBold";
  font-size: 30px;
}

.lp-player {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
}
.lp-player > img:nth-child(1) {
  padding-top: 200px;
  width: 600px;
  z-index: 1;
}
.lp-player > img:nth-child(2) {
  width: 420px;
  position: relative;
  bottom: 475px;
  right: 62px;
  transform-origin: 50% 50%;
}
.lp-player > div {
  position: relative;
  top: -200px;
  display: flex;
  align-items: center;
}
.lp-player > div > img {
  margin: 5px;
  cursor: pointer;
}

.play {
  -webkit-animation: rotate_image 1s linear infinite;
          animation: rotate_image 1s linear infinite;
}

@-webkit-keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
.sub-Mainbox {
  padding-bottom: 70px;
}
.sub-Mainbox > img:nth-child(1) {
  width: 250px;
}
.sub-Mainbox > img:nth-child(2),
.sub-Mainbox img:nth-child(3) {
  cursor: pointer;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: "GmarketSansMedium";
}

section {
  width: 100%;
  height: 100vh;
  padding: 100px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
}
.main ul {
  padding-top: 10px;
  padding-left: 50px;
  font-family: "GmarketSansBold";
  list-style-type: none;
  font-size: 24px;
}
.main ul > li {
  cursor: pointer;
}
.main > div:nth-child(3) img:hover {
  cursor: pointer;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px;
}
.about-me > div:nth-child(3) {
  height: 100%;
}

.skils > div:nth-child(3) {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skils > div:nth-child(3) img {
  width: 110px;
  margin: 10px;
}
.skils > p {
  font-size: 20px;
  text-align: center;
}

.project > div:nth-child(1) {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.project > div:nth-child(1) > img {
  width: inherit;
  border: 1px solid #112b3c;
}
.project > div:nth-child(1) > p {
  width: inherit;
  text-align: center;
  background-color: #112b3c;
  color: #ffffff;
}
.project > div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}
.project > div:nth-child(2) img {
  margin: 5px 0 0 7px;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */