@import "./utils";

$col-1: #112b3c;
$col-2: #205375;
$col-3: #f66b0e;
$col-4: #f5e6ca;
$col-5: #ffffff;

@mixin display($column, $jus, $align) {
  display: flex;
  flex-direction: $column;
  justify-content: $jus;
  align-items: $align;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin font-face($weight) {
  @font-face {
    font-family: "GmarketSans#{$weight}";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSans#{$weight}.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
}

@include font-face("Light");
@include font-face("Medium");
@include font-face("Bold");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // 스트롤 바 숨기기
  // overflow: hidden;
}

#root {
  width: 100vw;
  height: auto;
  background-color: #ed775d;
  display: flex;
  justify-content: flex-end;
  color: $col-1;
}

h1 {
  font-family: "GmarketSansBold";
  font-size: 32px;
  font-style: italic;
}

h2 {
  font-style: italic;
  font-family: "GmarketSansBold";
  font-size: 24px;
}
a {
  text-decoration: none;
  color: $col-1;
}
a:hover {
  color: $col-2;
}
@include desktop {
  .lp-player {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;

    & > img:nth-child(1) {
      padding-top: 200px;
      width: 600px;
      z-index: 1;
    }
    & > img:nth-child(2) {
      width: 420px;
      position: relative;
      bottom: 475px;
      right: 62px;
      transform-origin: 50% 50%;
    }

    & > div {
      position: relative;
      top: -200px;
      display: flex;
      align-items: center;
      & > img {
        margin: 5px;
        cursor: pointer;
      }
    }
  }
}
.play {
  animation: rotate_image 1s linear infinite;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
.sub-Mainbox {
  padding-bottom: 30px;
  & > img:nth-child(1) {
    width: 200px;
  }
  & > img:nth-child(2),
  img:nth-child(3) {
    cursor: pointer;
  }
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: "GmarketSansMedium";
}

section {
  width: 100%;
  height: 100vh;
  padding: 50px;
}

#Main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  ul {
    padding-top: 10px;
    padding-left: 50px;
    font-family: "GmarketSansBold";
    font-size: 24px;
    list-style-type: none;

    & > li {
      cursor: pointer;
    }
  }
  & > div:nth-child(3) {
    img:hover {
      cursor: pointer;
    }
  }
}

#Skils {
  & > div:nth-child(3) {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      width: 110px;
      margin: 10px;
    }
  }
  & > p {
    font-size: 20px;
    text-align: center;
  }
}

.project {
  & > div:nth-child(1) {
    width: 100%;
    display: flex;
    flex-direction: column;
    & > img {
      width: 100%;
      height: 300px;
      border: 1px solid $col-1;
    }
    & > p {
      width: inherit;
      text-align: center;
      background-color: $col-1;
      color: $col-5;
    }
  }
  & > div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    img {
      margin: 5px 0 0 7px;
      cursor: pointer;
    }
  }
  & > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    & > p {
      font-size: 14px;
    }
  }
}

@include mobile {
  #root {
    display: flex;
    flex-direction: column;
  }
  .lp-player {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > img:nth-child(1) {
      padding-top: 200px;
      width: 600px;
      z-index: 1;
    }
    & > img:nth-child(2) {
      width: 420px;
      position: relative;
      bottom: 475px;
      right: 62px;
      transform-origin: 50% 50%;
    }

    & > div {
      position: relative;
      top: -200px;
      display: flex;
      align-items: center;
      & > img {
        margin: 5px;
        cursor: pointer;
      }
    }
  }
}
