@import "./utils";

$col-1: #112b3c;
$col-2: #205375;
$col-3: #f66b0e;
$col-4: #f5e6ca;
$col-5: #ffffff;

@mixin display($column, $jus, $align) {
  display: flex;
  flex-direction: $column;
  justify-content: $jus;
  align-items: $align;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin font-face($weight) {
  @font-face {
    font-family: "GmarketSans#{$weight}";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSans#{$weight}.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
}

@include font-face("Light");
@include font-face("Medium");
@include font-face("Bold");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // 스트롤 바 숨기기
  // overflow: hidden;
}

#root {
  width: 100vw;
  height: auto;
  // 구름이미지
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-background_23-2148998534.jpg?w=1380&t=st=1674030461~exp=1674031061~hmac=e0629cb9921df2f7943aad3a1dfe45af2c83d3658f61bbc08553a6eea6d58fea");

  // background-size: contain;
  background-size: cover;

  // background-color: #ed775d;
  display: flex;
  justify-content: flex-end;
  color: $col-1;
}

h1 {
  font-family: "GmarketSansBold";
  font-size: 32px;
  font-style: italic;
}

h2 {
  font-style: italic;
  font-family: "GmarketSansBold";
  font-size: 24px;
}
a {
  text-decoration: none;
  color: $col-1;
}
a:hover {
  color: $col-2;
}

// 왼쪽 고정 lp-player
.lp-player {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > img:nth-child(1) {
    padding-top: 200px;
    width: 600px;
    z-index: 1;
  }
  & > img:nth-child(2) {
    width: 420px;
    position: relative;
    bottom: 475px;
    right: 62px;
    transform-origin: 50% 50%;
  }

  & > div {
    position: relative;
    top: -200px;
    display: flex;
    align-items: center;
    & > img {
      margin: 5px;
      cursor: pointer;
    }
  }
}

.play {
  animation: rotate_image 1s linear infinite;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
.sub-Mainbox {
  padding-bottom: 30px;
  & > img:nth-child(1) {
    width: 200px;
    margin-right: 10px;
  }
  & > img:nth-child(2),
  img:nth-child(3) {
    cursor: pointer;
    margin-left: 5px;
  }
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: "GmarketSansMedium";
}

section {
  width: 100%;
  height: 100vh;
  padding: 50px;
}

#Main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  & > div:nth-child(1) {
    & > img {
      width: 500px;
    }
  }
  ul {
    padding-top: 10px;
    padding-left: 50px;
    font-family: "GmarketSansBold";
    font-size: 24px;
    list-style-type: none;

    & > li {
      cursor: pointer;
    }
  }
  & > div:nth-child(3) {
    img:hover {
      cursor: pointer;
    }
  }
}

#Skils {
  & > div:nth-child(3) {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      width: 110px;
      margin: 10px;
      object-fit: contain;
    }
  }
  & > p {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
  }
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  // 이미지 슬라이더 박스
  & > div:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
      cursor: pointer;
      margin: 5px;
    }
    & > div:nth-child(2) {
      width: 500px;
      border: 1px solid $col-1;
      background-color: $col-5;
      display: flex;
      flex-direction: column;
      align-items: center;
      & > p {
        width: inherit;
        text-align: center;
        background-color: $col-1;
        color: $col-5;
      }
    }
  }
  // url 이동 박스
  & > div:nth-child(2) {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    & > img {
      margin: 5px;
      cursor: pointer;
    }
  }

  // 프로젝트 설명 박스
  & > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    & > p {
      font-size: 14px;
    }
  }
}

.img-container {
  width: inherit;
  height: 250px;
  position: relative;
  overflow: hidden;
  & > div {
    position: absolute;
    transition: all 0.25s ease-in-out;
    width: 100%;
    height: 100%;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@include desktop {
  .lp-player {
    width: 50%;
    position: fixed;
    left: 0;
  }
}

@include tablet {
  #root {
    flex-direction: column;
  }
  .lp-player {
    width: 100%;
  }
  .content {
    width: 100%;
  }
}

@include mobile {
  #root {
    flex-direction: column;
  }
  .lp-player {
    width: 100%;
  }
  .content {
    width: 100%;
  }
}
