@import "./utils";

$col-1: #112b3c;
$col-2: #205375;
$col-3: #ffffff;

@mixin display($column, $jus: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $column;
  justify-content: $jus;
  align-items: $align;
}

@mixin size($width, $height: auto) {
  width: $width;
  height: $height;
}

@mixin font-face($weight) {
  @font-face {
    font-family: "GmarketSans#{$weight}";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSans#{$weight}.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
}

@include font-face("Medium");
@include font-face("Bold");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "GmarketSansMedium";
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

#root {
  @include size(100vw, auto);
  @include display(row, flex-end);
  // 구름이미지
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-background_23-2148998534.jpg?w=1380&t=st=1674030461~exp=1674031061~hmac=e0629cb9921df2f7943aad3a1dfe45af2c83d3658f61bbc08553a6eea6d58fea");
  background-size: cover;
  color: $col-1;
}

h1 {
  font-family: "GmarketSansBold";
  font-size: 32px;
  font-style: italic;
}

h2 {
  font-style: italic;
  font-family: "GmarketSansBold";
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
a {
  text-decoration: none;
  color: $col-1;
}
a:hover {
  color: $col-2;
  font-family: "GmarketSansBold";
}

// lp 돌아가게 하는 애니메이션
.play {
  animation: rotate_image 1s linear infinite;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

// 재생중 효과
.h1-play {
  & > div {
    @include size(400px, 50px);
    display: flex;
    overflow: hidden;
    transition: 0.3s;
    white-space: nowrap;
    & > p {
      animation: textLoop 10s linear infinite;
    }
  }
}
@keyframes textLoop {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
// 각 seciton의 lp 앨범 및 재생,스탑 버튼
.sub-Mainbox {
  padding-bottom: 30px;
  // lp 앨범
  & > img:nth-child(1) {
    @include size(200px);
    margin-right: 10px;
  }
  // 재생, 스탑버튼
  & > img:nth-child(2),
  img:nth-child(3) {
    cursor: pointer;
    margin-left: 5px;
  }
}

// ! 두번째 article
.content {
  @include size(50%);
  @include display(column);
}

// article의 각 section
// 각 트랙 소개 페이지
section {
  @include size(100%, 100vh);
  padding: 50px;
}

// 첫번째 section
#Main {
  @include display(column, space-between, center);
  // lp 앨범
  & > img:nth-child(1) {
    width: 500px;
  }
  // h1 태그 + ul
  & > div:nth-child(2) {
    ul {
      padding-top: 10px;
      padding-left: 50px;
      font-size: 24px;
      list-style-type: none;
      & > li {
        cursor: pointer;
      }
    }
  }
  // contact div
  & > div:nth-child(3) {
    img {
      margin: 5px;
      cursor: pointer;
    }
  }
}
// 두번째 section
section:nth-child(2) {
  & > div:nth-child(3) {
    width: inherit;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
  }
}
// 세번째 section
#Skils {
  // 기술 logo div
  & > div:nth-child(3) {
    @include display(row, center);
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 10px;
    img {
      @include size(110px);
      margin: 10px;
      object-fit: contain;
    }
  }
  // 기술 img 아래 p 태그
  & > p {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
  }
}

// 공통 project
.project {
  @include size(100%);
  @include display(column);
  // 프로젝트 이미지 div
  & > div:nth-child(1) {
    @include size(100%);
    @include display(row, center, center);
    // prev,next btn
    & > img {
      cursor: pointer;
      margin: 5px;
    }
    // 사진 슬라이더 부분
    & > div:nth-child(2) {
      @include size(500px);
      @include display(column, flex-start, center);
      border: 1px solid $col-1;
      background-color: $col-3;
      // project 박스 부분
      & > p {
        width: inherit;
        text-align: center;
        background-color: $col-1;
        color: $col-3;
      }
    }
  }

  // git, ppt, 동영상 logo div
  & > div:nth-child(2) {
    @include size(85%);
    @include display(row, flex-end, center);
    // logo img
    & > img {
      margin: 5px;
      cursor: pointer;
    }
  }

  // 프로젝트 설명 박스
  & > div:nth-child(3) {
    @include display(column, center, center);
    text-align: center;
    & > p {
      font-size: 14px;
    }
  }
}
// 이미지 슬라이더 박스
.img-container {
  @include size(inherit, 250px);
  position: relative;
  overflow: hidden;
  & > div {
    @include size(100%, 100%);
    position: absolute;
    transition: all 0.25s ease-in-out;
    & > img {
      @include size(100%, 100%);
      object-fit: contain;
    }
  }
}

#Contact {
  display: flex;
  align-items: center;
  justify-content: center;
  & > div {
    background-color: rgba(255, 255, 255, 0.467);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    & > p {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}
#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#email-btn {
  width: 50px;
  // height: 30px;
  padding: 5px;
  background-color: $col-3;
  border: 1px solid $col-3;
  border-radius: 5px;
  color: $col-1;
  cursor: pointer;
  &:hover {
    background-color: $col-1;
    border: 1px solid $col-1;
    color: $col-3;
  }
}
.input {
  width: 300px;
  height: 30px;
  padding: 10px;
  margin-bottom: 5px;
}
.input-textarea {
  width: 300px;
  height: 200px;
  padding: 10px;
  margin: 10px;
}
.lp-player {
  @include display(column, center, center);
  & > img:nth-child(1) {
    @include size(600px);
    z-index: 1;
  }
  & > img:nth-child(2) {
    @include size(420px);
    bottom: 477px;
    right: 62px;
    position: relative;
    transform-origin: 50% 50%;
  }
  & > div:nth-child(3) {
    @include display(column, center, center);
  }
  & > div:nth-child(4) {
    @include display(row, flex-start, center);

    & > img {
      margin: 5px;
      cursor: pointer;
    }
  }
}
@include desktop {
  .lp-player {
    @include size(50%, 100vh);
    position: fixed;
    left: 0;
    & > img:nth-child(1) {
      padding-top: 300px;
      z-index: 1;
    }
    & > div:nth-child(3) {
      position: relative;
      top: -350px;
    }
    & > div:nth-child(4) {
      position: relative;
      top: -300px;
    }
  }
}

@include tablet {
  #root {
    flex-direction: column;
  }
  .lp-player {
    @include size(100%, 100vh);
    padding-top: 300px;
    & > img:nth-child(1) {
      z-index: 1;
    }
    & > div:nth-child(3) {
      position: relative;
      top: -350px;
    }
    & > div:nth-child(4) {
      position: relative;
      top: -300px;
    }
  }
  .content {
    width: 100%;
  }
}

@include mobile {
  #root {
    flex-direction: column;
  }
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 14px;
  }
  h4 {
    font-size: 10px;
  }
  .h1-play {
    & > div {
      @include size(250px, 50px);
    }
  }

  .lp-player {
    // ! 첫번째 article
    // 왼쪽 고정 lp-player
    @include size(100%, 100vh);
    // lp-player
    & > img:nth-child(1) {
      @include size(300px);
      z-index: 1;
    }
    // lp(record)
    & > img:nth-child(2) {
      @include size(200px);
      bottom: 236px;
      right: 29px;
    }
    // 재생, 스탑 버튼 박스
    & > div:nth-child(4) {
      margin-top: 50px;
    }
  }
  .content {
    width: 100%;
  }
  #Main {
    & > img:nth-child(1) {
      width: 250px;
    }
    & > div:nth-child(2) {
      ul {
        font-size: 20px;
      }
    }
  }
  .sub-Mainbox {
    // lp 앨범
    & > img:nth-child(1) {
      @include size(100px);
      margin-right: 5px;
    }
    // 재생, 스탑버튼
    & > img:nth-child(2),
    img:nth-child(3) {
      @include size(20px);
      cursor: pointer;
      margin-left: 3px;
    }
  }
  // 두번째 section
  section:nth-child(2) {
    & > div:nth-child(3) {
      font-size: 12px;
    }
  }
  #Skils {
    & > div:nth-child(3) {
      img {
        @include size(50px);
      }
    }
    & > p {
      font-size: 14px;
    }
  }
  // 공통 project
  .project {
    @include size(100%, 200px);
    // 프로젝트 이미지 div
    & > div:nth-child(1) {
      @include size(90%);

      // // prev,next btn
      // & > img {
      //   cursor: pointer;
      //   margin: 5px;
      // }
      // 사진 슬라이더 부분
      & > div:nth-child(2) {
        @include size(inherit, 130px);
        @include display(column, flex-start, center);
        border: 1px solid $col-1;
        background-color: $col-3;
        // project 박스 부분
        & > p {
          width: 100%;
          height: 12px;
          font-size: 8px;
        }
      }
    }

    // git, ppt, 동영상 logo div
    & > div:nth-child(2) {
      & > img {
        width: 15px;
      }
    }

    // 프로젝트 설명 박스
    & > div:nth-child(3) {
      @include display(column, center, center);
      text-align: center;
      & > h3 {
        font-size: 12px;
      }
      p {
        font-size: 8px;
      }
    }
  }
  // 이미지 슬라이더 박스
  .img-container {
    @include size(inherit, 250px);
    position: relative;
    overflow: hidden;
    & > div {
      @include size(100%, 100%);
      position: absolute;
      transition: all 0.25s ease-in-out;
      & > img {
        @include size(100%, 100%);
        object-fit: contain;
      }
    }
  }
}
