$col-1: #112b3c;
$col-2: #205375;
$col-3: #f66b0e;
$col-4: #f5e6ca;

@mixin display($column, $jus, $align) {
  display: flex;
  flex-direction: $column;
  justify-content: $jus;
  align-items: $align;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // 스트롤 바 숨기기
  // overflow: hidden;
  @include size(100vw, 100vh);
}

body {
  @include size(100%, 100%);
  @include display(column, flex-start, center);
}

header {
  @include size(80%, 150px);
  @include display(row, center, center);
  border-bottom: 2px solid $col-1;
  background-color: #f66b0e;
}

section {
  @include size(80%, 100%);
  @include display(column, flex-start, center);
  color: wheat;
  transition-duration: 0.8s;
}
