$col-1: #112b3c;
$col-2: #205375;
$col-3: #f66b0e;
$col-4: #f5e6ca;

@mixin display($column, $jus, $align) {
  display: flex;
  flex-direction: $column;
  justify-content: $jus;
  align-items: $align;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include size(100vw, auto);
  @include display(row, center, center);
  background-color: $col-4;
}

#root {
  @include size(1280px, auto);
  @include display(column, space-between, center);
  padding: 50px;
}

header {
  @include size(100%, 110px);
  @include display(row, space-between, center);
  background-color: antiquewhite;
  font-size: 24px;
  border: 1px solid $col-1;
  padding: 10px;
  & > div:nth-child(2) {
    width: 525px;
    @include display(row, space-between, center);
    flex-wrap: wrap;
    & > p:nth-child(1) {
      font-size: 36px;
      margin: 0 160px 0 160px;
      color: #f66b0e;
      font-weight: bold;
    }
  }
}

main {
  @include size(100%, auto);
  @include display(column, center, center);
  & > article:nth-child(1) {
    @include size(100%, 360px);
    background-color: darkgray;
    padding: 10px;
  }
}
